@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    background:transparent;
}

body {
    line-height:1.5;
    font-family:"Sawarabi Mincho";
    display: flex;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
button{
  cursor: pointer;
  outline: none;
}
button:hover{
  outline:none;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid rgb(73, 73, 73);
    padding:0;
    width: 100%;
}

input, select {
    vertical-align:middle;
}
h1{
  font-size: 30px;
}
h2{
  font-size: 40px;
}
p{
  font-size: 20px;
}
.section{
  margin-top: 1%;
}
.scrollanime{
  opacity: 0;
}
.fadeInDown{
  animation-name: fadeInDown;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
@keyframes fadeInDown{
   0% {
        opacity: 0;
    }
    100% {
    opacity: 1;
    transform: translate(0);
    }
}
.inner{
  padding-left: 5%;
  padding-top: 1%;
}
.leftcontent{
  background-image: url(../img/backgroound-image.jpg);
  width: 80%;
}
.rightcontent{
  width: 20%;
   -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  position: fixed;
  right: 0;
  height: 100%;
}
.rightcontent-inner{
  width: 90%;
  margin-top: 5%;
  margin-right:2%;
  display: block;
}
.rightcontent-menu{
  margin-top: 35%;
  margin-right: -6%;
  height: 100%;
  display: block;
  position: relative;
}
.mokuji{
  margin-top: -5%;
}
.mokuji-contents{
  height: 150px;
  width: 90%;
}
.mokuji-item{
  font-size: 16px;
  border:0;
  width:3%;
  background-color: rgba(0,0,0,0);
  writing-mode: vertical-rl ;
    -ms-writing-mode: tb-rl ;
    -webkit-writing-mode:vertical-rl ;
}
.sns-icons{
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  margin-top: 50%;
}
.eyecatch-image{
  position: relative;
  animation: swing linear 5s infinite;
  transform-origin: center -50px 0;
}
.white-book{
  width: 80%;
  margin-left: 10%;
  border: 3px solid black;
  background-image:url(../img/wood-texture_00005.jpg);
  border-style: dashed;
  border-radius: 20px;
}
.eyecatch{
  margin-top:0%;
  height: 100vh;
}
.eyecatch-title{
  width: 30%;
  height: 100%;
  position: absolute;
  top: 30%;
  left: 32%;
  display: inline-block;
  transform: skewY(15deg);
  text-align: center;
}
.eyecatch-h1{
  position: absolute;
  left: -3%;
  top: 25%;
  display: inline-block;
  transform: skewY(15deg);
  text-align: center;
  font-size: 25px;
  width: 100%;
}
.eyecatch-title p{
  margin-top: 10%;
}
.eyecatch-title img{
  margin-top: 10%;
  width: 100%;
  height: 40%;
  border: 3px solid black;
  border-radius: 20px;
}
.book-vertical{
   -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  position: absolute;
  bottom: 12%;
  right: 28%;
  font-size: 20px;
}
.eyecatch-word{
  color: #754620;
  position: absolute;
  font-size: 15px;
  top: 5%;
  right:15%;
}
.tsubaki{
  width: 25%;
  position: absolute;
  top: 70%;
}
@keyframes swing {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(2deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
}
.firstcontent{
  background-image: url(../img/bookshlef.jpg);
  color: white;
  position: relative;
}

.firstcontent::before{
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.2);
}
.firstcontent-inner p{
  position: relative;
  z-index: 1;
  padding:10%;
  font-size: 25px;
  line-height: 2;
}
.firstcontent-inner h2{
  position: relative;
  z-index: 1;
}
.introduction{
  background-image:url(../img/books-and-human.jpg);
  background-size: cover;
  width: 90%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 3px solid #754620;
  border-left: none;
  color: white;
  position: relative;
}
.introduction::before{
  position: absolute;
  background-color: rgba(0,0,0,0.2);
   border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.introduction-title{
  position: relative;
  z-index: 1;
}
.introduction p{
  margin-top: 15%;
  margin-left: 5%;
  width: 30%;
  position: relative;
  z-index: 1;
}
.introduction-buttons{
  width: 30%;
  margin: 10% 35%;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.introduction-buttons button{
  font-size: 20px;
  color: white;
 background:none;
 border:white 1px solid;
border-style: dashed;
}
.introduction-buttons button:hover{
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: rgba(0,0,0,0.5) 1px solid;
}
.meals-service{
  background-image:url(../img/sweets-and-book.jpg);
  background-size: cover;
  margin-left: 5%;
  width: 90%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 3px solid #754620;
  border-right: none;
  position: relative;
  color: white;
}
.meals-service::before{
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  content:"";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.2);
}
.meals-service h2{
  margin-left: -5%;
  z-index: 1;
  position: relative;
}
.meals-service-top{
  position: absolute;
  z-index: 1;
  width: 30%;
  margin-left: 60%;
  margin-top: 8%;
}
.meals-service-bottom{
  z-index: 1;
  position: relative;
  margin-top: 40%;
  font-size: 15px;
}
.roomguide{
  margin-top: 5%;
  margin-bottom: 5%;
  width: 90%;
}
.roomguide-title{
  border-bottom: 2px solid #754620;
}
.roomguide-images{
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-bottom:  2px solid #754620;
}
#slider-top{
  width: 90%;
  margin-left: 5%;
}
#slider-top img{
  height: 650px;
  object-fit: cover;
  border: 5px solid #754620;
  border-radius: 20px;

}
#slider-bottom{
  width: 90%;
  height: 100%;
  margin-left: 5%;
  margin-bottom: 5%;
}
#slider-bottom img{
  object-fit: cover;
  width: 30%;
  height: 150px;
}
.slick-slide{
  margin:1% 0.1%;
}
.roomguide p{
  font-size: 15px;
  width: 80%;
  margin: 5% 10%;
}
.roomguide-service{
  border-top: 3px solid #754620;
  border-style: dashed;
  padding-top: 5%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.roomguide-service-content{
  width: 45%;
}
.roomguide-service-content-left{
  border-right: 1px solid;
  margin-left: 5%;
}
.roomguide-service-content-title{
  width: 60%;
  margin-left: 20%;
  text-align: center;
  font-size: 25px;
  border: 1px solid;
  border-radius: 20px;
}
.roomguide-service-content ul{
  margin: 10%;
}
.detail{
  width: 100%;

}
.detail-content{
  display: flex;
  height: 100vh;
  width: 100%;
}
.detail-content-image{
  width: 50%;
  object-fit: cover;
}
.detail-content-sentence{
  width: 50%;
  background-color: rgba(0,0,0,0.3);
  color: white;
  padding: 5%;
}
.detail-content-sentence h3 {
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
}
.detail-content-top{
  text-align: center;
  margin: 0 auto;
  margin-top: 5%;
}
.detail-content-bottom{
  margin: 10% 0 5% 0;
}
.detail-content table{
  text-align: center;
  margin: 0 auto;
  border: 1px solid;
}
.detail-content td,th{
  padding: 10px;
}
.table-title{
  text-align: center;
  margin: 0% auto;
  padding: 2%;
  font-size: 15px;
}
.table-th{
  border-bottom:1px solid;
}
.table-time{
  border-right: 1px solid;
}
.detail-content-attention{
  margin-top: 10%;
  font-size: 15px;
}
.detail-content2{
    display: flex;
  }
.stay-top{
  margin-top: 15%;
}
.stay-bottom{
  margin-top: 5%;
  font-size: 15px;
}
.resevation-button{
  width: 35%;
  margin: 5% 32.5%;
  padding: 10px;
  color: #754620;
  font-size: 25px;
  background-color:rgba(0,0,0,0);
  border: #754620 3px solid;
  border-style: dashed;
  border-radius: 20px;
  font-family: "Kokoro";
}
.resevation-button:hover{
  background-color: #754620;
  color: white;
}
footer{
  width: 50%;
  margin-left: 25%;
  text-align: center;
  margin: 0 auto;
}
footer p{
  padding-top: 30px;
}
small{
  padding-top: 30px;
  font-size: 12px;
}
#hamburger{
  display: none;
}

.form{
 width: 80%;
 margin:5% 10%;
 border: #754620 3px solid;
  border-style: dashed;
  padding: 5% 0%;
}
.form-item{
  width: 90%;
  display: flex;
  margin: 10px 5%;
}
label{
  width: 50%;
  margin-right: 10%;
  font-size: 20px;
  border-bottom: #754620 1px solid;
}
.textarea-label{
   border-bottom: #754620 1px solid;
}
.textarea-label-none{
  border: none;
}
input{
  width: 50%;
  border: #754620 2px solid;
  border-radius: 10px;
  outline: none;
}
textarea{
  width: 50%;
  border: #754620 2px solid;
  border-radius: 10px;
  outline: none;
}
.sendbutton{
  width: 30%;
  margin-left: 35%;
  padding: 5px;
  color: #754620;
  font-size: 25px;
  background-color:rgba(0,0,0,0);
  border: #754620 2px solid;
  font-family: "Kokoro";
}
.sendbutton:hover{
  background-color: #754620;
  color: white;
}
.contactpage-title{
  font-size: 30px;
  margin:5%;
  border-bottom: #754620 2px solid;
}
.googlemap{
  width: 90%;
  margin-left: 5%;
}
.address{
  font-size: 15px;
  width: 60%;
  margin: 0 auto;
}
.hamburger-menu{
  display: none;
}
@media screen and (max-width : 768px){
  body{
    display: block;
  }
  p{
    font-size: 15px;
  }
  h1{
    font-size: 25px;
  }
  h2{
    font-size: 30px;
  }
  #hamburger {
    height: 40px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    top: 10px;
    right: 20px;
    transition: 0.4s;
    width: 40px;
    display: block;
  }
  #hamburger span {
    position: absolute;
    left: 2px;
    display: block;
    width: 35px;
    height: 2px;
    background-color: #000000;
    transition: 0.8s;
  }
  #hamburger span:nth-of-type(1) {
    top: 10px; /* ハンバーガーメニューの1本目の棒 */
  }

  #hamburger span:nth-of-type(2) {
    top: 20px; /* ハンバーガーメニューの2本目の棒 */
  }

  #hamburger span:nth-of-type(3) {
    top: 30px; /* ハンバーガーメニューの3本目の棒 */
  }
  #hamburger.active{
     position: fixed;
  }
  #hamburger.active span:nth-of-type(1){
      top: 20px;
    transform: rotate(45deg);
    background: white;
  }
  #hamburger.active span:nth-of-type(2){
      opacity: 0;
  }
  #hamburger.active span:nth-of-type(3){
      top: 20px;
      transform: rotate(-45deg);
      background: white;
  }
  .hamburger-menu.open{
    display: block;
    background-size: cover;
    background-position: center center;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 2;
  }
  .hamburger-menu-content{
    width: 50%;
    margin-left: 25%;
    margin-top: 20%;
  }
  .js_smooth_scroll_hamburger{
    display: block;
    margin: 0 auto;
    border: none;
    background-color: rgba(0,0,0,0);
    padding: 20px;
    color: white;
    font-size: 20px;
  }
  .section{
    margin-top: 3%;
    padding-top: 5%;
  }
  .leftcontent{
    width: 100%;
    margin: 0px;
  }
  .rightcontent{
    display: none;
  }
  .white-book{
    width: 90%;
    margin-left: 5%;
  }
  .eyecatch-title img{
    height: 35%;
  }
  .book-vertical{
    right: 22%;
  }
  .eyecatch-word{
    font-size: 15px;
    top: 87%;
    left: 8%;
  }
  .firstcontent-inner p{
    font-size: 20px;
  }
  .introduction p{
    width: 50%;
  }
  .introduction-buttons{
    display: block;
    margin-left:60%;
  }
  .introduction-buttons button{
    margin-top: 10px;
  }
  .meals-service-top{
    width: 40%;
    margin-left: 50%;
  }
  .meals-service-bottom{
    width: 70%;
  }
  .roomguide-service{
    display: block;
  }
  .roomguide-service-content{
    width: 100%;
    margin-left: 0%;
  }
  .roomguide-service-content-left{
    border-right: none;
  }
  #slider-top,#slider-bottom{
    width: 100%;
    margin-left: 0%;
  }
  .detail{
    height: 300vh;
  }
  .detail-content{
    display: block;
    height: 160vh;
  }
  .detail-content-image{
    height: 70vh;
    width: 100%;
    margin-bottom: -2%;
  }
  .detail-content-sentence{
    width: auto;
    height: 90vh;
  }
  .detail-content2{
    position: relative;
  }
  .detail-content-image2{
    position: absolute;
  }
  .detail-content-sentence2{
    position: absolute;
    top: 70vh;
    height: 60vh;
  }
  .resevation-button{
    font-size: 20px;
    padding: 2px;
    width: 60%;
    margin-left: 20%;
  }

}


